# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Electron-builder
dist/
build_out/
*.exe
*.dmg
*.AppImage
*.deb
*.rpm
*.zip

# SQLite
*.sqlite
*.sqlite-journal

# Logs
logs/
*.log

# Activation Data (Local only)
activation.json

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
thumbs.db
